[Unit]
Description=Password Expiry Notification Service
After=network.target

[Service]
ExecStart=/usr/local/bin/password_notify.py
User=root
Type=simple

[Install]
WantedBy=multi-user.target
